.Challenge {
    margin-top: 180px;
}

.grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rowChallenge {
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 10px;
}

.cardChallenge {
    padding: 20px;
    background-color: coral;
    width: 50px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardChallenge:hover {
    background: #E9E9E9
}